.App {
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
}

.head, .bod, .foot {
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

.bod {

}

.App-logo {
  border-radius: 50%;
  height: 40vmin;
  pointer-events: none;
  padding: 10px;
  border: double 1px rgb(192, 187, 187);
  margin-top: 5vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(214, 206, 206);
  background-image: url("bg.jpg");
  background-size: cover;
}

.App-footer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(214, 206, 206);
  background-image: url("bg.jpg");
  background-size: cover;
}

.About {
  border: solid;
  padding: 1vh;
}

.About:hover {
  color: #cdd9f5;
  transform: scale(1.025);
}

a {
  color: inherit;
  text-decoration: none;
}

.social {
  margin: 2vh;
  color: #cdd9f5;
}

.social:hover {
  transform: scale(1.1);
  color: #cdd9f5;
  -moz-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.App-link {
  color: #61dafb;
}

.btn, .btn-outline-primary, .btn-sm {
  color:#cdd9f5;
  outline: none;
  box-shadow: none!important;
}

.btn:hover, .btn:active {
  background-color:#cdd9f5!important;
  color:rgb(122, 118, 118)!important;
  border-color: #cdd9f5!important;
}

.rotateDown{
  transform: rotate(90deg);
  transition: .5s;
}

.rotateBack{
  transform: rotate(0deg);
  transition: .5s;
}



.name {
  transition: 0.5s;
  color: rgb(221, 80, 153);
  opacity: 0.8;

}

.nameHover {
  transition: 0.5s;
  color: #E31B6D;
  
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
